@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

/*---------------------------------------*/
/*ROOT*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans Expanded", sans-serif;
    transition: all 1s cubic-bezier(0.2, 0.4, 0, 1.4);
}
/*ROOT*/

/*BODY*/
body{
    background-image: url("background.png");
    background-blend-mode:hue;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 170, 37, 0.322);

}
/*BODY*/
/*---------------------------------------*/




/*---------------------------------------*/
/*NAVBAR HEADER*/
.headersection{
    color: rgb(21, 21, 22);
    margin: 20px auto;
    text-align: center;
    background-color:   rgba(0, 145, 170, 0.514);
    padding: 2.5vh;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 80%;


}
/*NAVBAR HEADER*/

/*NAVBAR LOGO*/
.headersection a{
    font-weight: 800;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.headersection a span{
   color: rgb(0, 217, 255);
}
/*NAVBAR LOGO*/

/*NAVBAR TEXT*/
.headersection .navbar a{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    border-radius: 14px;
    margin: 15px;   
}
/*NAVBAR TEXT*/
/*---------------------------------------*/




/*---------------------------------------*/
/*LOGO*/
.logo{
    cursor: default;
    text-align: center;
    align-items: center;
}
.logo h1{
    padding-top: 250px;
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: 800;
    text-align: center;
}
.logo h1 span{
    color: rgb(0, 217, 255);
}
.logo h2, h3{
    color: rgb(255, 255, 255);
}
.logo h3{
    font-style: italic;
    font-weight: 400;
}
/*LOGO*/

/*LOGO BUTTON*/
.logobutton{
    margin: 8rem;
    text-align: center;
    align-items: center;
    padding-bottom: 70px;
}
.logobutton a{
    font-size: 19px;
    background-color: rgba(0, 145, 170, 0.514);
    font-weight: 100;
    text-decoration: none;
    color:   rgb(255, 255, 255);
    text-align: center;
    padding: 12px 30px;
    border-radius: 8px;
    border-width: 1px;
}
/*LOGO BUTTON*/
/*---------------------------------------*/





/*---------------------------------------*/
/*CONVERSION TEXT*/
.conversion{
    padding-top: 100px;
    margin-bottom: 150px;
}
.conversion main{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:flex-start;
}
.conversion main h1{
    font-size: 21px;
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.conversion main p{
    color: white;
    font-size: 19px;
    text-align: left;
}
.conversion img{
    width: 1300px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 90px;
    border-radius: 10px;
}
/*CONVERSION TEXT*/
/*---------------------------------------*/




/*---------------------------------------*/
/*FOOTER*/
.footer .bottomfooter{
    margin: auto;
    align-items: center;
    text-align: center;
    background-color:   rgba(0, 145, 170, 0.514);
    padding: 1rem;
    border-radius: 12px;

    width: 95%;    
}
.footer .bottomfooter .list li{
    list-style-type: none;
}
.footer .bottomfooter .list a{
    text-decoration: none;
    font-weight: 100;
    font-size: 13.5px;
    margin: 8px;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
}
.footer .bottomfooter{
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer .bottomfooter .list li{
    margin: 5px;
}
.footer .bottomfooter .list{
    color: aliceblue;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
/*FOOTER*/
/*---------------------------------------*/





/*---------------------------------------*/
/*ANIMATIONS*/

/*NAVBAR*/
.headersection .navbar a{
    transition: all 0.4s cubic-bezier(0.2, 0, 0, 1.4)
}
.headersection{
    cursor: default;
}
.headersection .navbar a:hover{
    cursor:pointer;
    font-weight: 400;
    font-size: 15.5px;
}
.headersection .navbar a:active{
    font-size: 16.8px;
    font-weight: 700;
    color: rgb(0, 217, 255);
}
.headersection a:hover{
cursor: default;
}
/*NAVBAR*/

/*LOGOBUTTON*/
.logobutton a{
    transition: all 0.4s cubic-bezier(0.2, 0.4, 0, 1.4);
}
.logobutton a:hover{
    font-weight: 400;

}
.logobutton a:active{
    color: rgb(0, 217, 255);
    font-weight: 700;
    font-size: 20.88px;
}
/*LOGOBUTTON*/

/*FOOTER*/
.footer .bottomfooter .list li span{
    cursor: default;
}
.footer .bottomfooter .list li a{
    transition: all 0.4s cubic-bezier(0.2, 0, 0, 1.4)
}
.footer .bottomfooter .list li a:hover{
    cursor:pointer;
    font-weight: 400;
    font-size: 13.96px;
}
.footer .bottomfooter .list li a:active{
    font-size: 15.8px;
    font-weight: 700;
    color: rgb(0, 217, 255);
}

.conversion main  h1, p:hover{
    cursor: default;
}
/*FOOTER*/
/*---------------------------------------*/