@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans Expanded", sans-serif;
}

body{
    background-color: rgb(14, 21, 76);
}

.headersection{
    color: rgb(21, 21, 22);
    margin: 20px auto;
    text-align: center;
    background-color:  rgb(2, 0, 136);
    padding: 4vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    border-radius: 10px;
    width: 80%;
    border: 1px solid rgb(21, 21, 22);    
}

.headersection a{
    font-weight: 800;
    font-size: 20px;
    color: rgb(21, 21, 22);
    text-decoration: none;
}
.headersection a span{
    color: rgb(0, 0, 255);
}

.headersection .navbar a{
    border: 1px solid rgb(21, 21, 22);
    text-align: center;
    font-weight: 550;
    font-size: 13px;
    background-color: rgb(0, 0, 255);
    padding: 2vh 10px;
    border-radius: 14px;
    margin: 1px;   
}

.logo{
    cursor: default;
    text-align: center;
    align-items: center;
}

.logo h1{
    text-shadow: 1px 5px 100px rgb(0, 30, 255);
    
    color: rgb(21, 21, 22);
    font-size: 70px;
    font-weight: 800;
    text-align: center;
}
.logo h1 span{
    color: rgb(0, 0, 255);
}

.logo h2, h3{
    color: rgb(21, 21, 22);
}
.logo h3{
    font-style: italic;
    font-weight: 400;
}
.logobutton{
    margin: 100px;
    text-align: center;
    align-items: center;
}

.logobutton a{
    font-size: 19px;
    background-color:  rgb(0, 0, 255);
    font-weight: 700;
    text-decoration: none;
    color: rgb(21, 21, 22);
    text-align: center;
    padding: 15px 40px;
    border-radius: 8px;
    border: solid rgb(21, 21, 22);    border-width: 1px;
}

.footer{
    color: rgb(21, 21, 22);
    margin: 20px auto;
    text-align: center;
    background-color:  rgb(2, 0, 136);
    padding: 4vh;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 95%;
    border: 1px solid rgb(21, 21, 22);    
}
.footer .list li{
    padding: 0px 10px;
    list-style-type: none;
}
.footer .list a{
    font-size: 14px;
    margin: 10px;
    color: black;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}
/*animations*/
.headersection .navbar a{
    transition: all 0.2s cubic-bezier(0.2, 0, 0, 1.4)
}
.headersection{
    cursor: default;
}

.headersection .navbar a:hover{
    cursor:pointer;
    font-weight: 400;
    font-size: 14.5px;
}
.headersection .navbar a:active{
    font-size: 16.8px;
    font-weight: 700;
    color: rgb(0, 0, 55);
}
.headersection a:hover{
cursor: default;
}

.logobutton a{
    transition: all 0.2s cubic-bezier(0.2, 0.4, 0, 1.4);
}

.logobutton a:hover{
    font-weight: 400;
    font-size: 21px;
}
.logobutton a:active{
    font-weight: 700;
    font-size: 24px;
}
