@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

/*---------------------------------------*/
/*ROOT*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans Expanded", sans-serif;
}
/*ROOT*/

/*BODY*/
body{

    background-color: rgb(20, 20, 20);
}
/*BODY*/
/*---------------------------------------*/




/*---------------------------------------*/
/*NAVBAR HEADER*/
.headersection{
    color: rgb(21, 21, 22);
    margin: 20px auto;
    text-align: center;
    align-items: center;
    background-color:   rgba(75, 75, 75, 0.514);
    padding: clamp(1vh, 1vh, 2vh);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    width: 95%;
}
/*NAVBAR HEADER*/

/*NAVBAR LOGO*/
.headersection a{
    font-weight: 800;
    font-size: clamp(13px, 1.6vw, 23px);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.headersection a span{
   color: rgb(168, 168, 168);
}
/*NAVBAR LOGO*/

/*NAVBAR TEXT*/
.headersection .navbar a{
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    font-weight: 100;
    font-size: clamp(10.5px, 1.2vw, 17px);
    border-radius: 14px;
    margin: clamp(5px, 1vh, 15px);   
}
/*NAVBAR TEXT*/
/*---------------------------------------*/



/*DOWNLOADS*\
/*--------------------------------------*/
.downloads{
    display: flex;
    padding: 0 100px;
}
.downloads .downloadsbox{
    color: white;
    background-color: rgba(75, 75, 75, 0.349);
    border-radius: 12px;
    padding: 5vh 1vh;
    margin: auto;
    width: 55%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: left;
}
.downloads .downloadsbox h1{
    font-weight: 100;
    text-align: left;
    padding: 5vh 5vh;
    font-size: 35px;
    margin-top: 21.5px;
}
.downloads .downloadsbox h1 span{
    font-weight: 700;
}
.downloads .downloadsbox h1 .icon{
    align-items: center;
}
.downloads .downloadsbox h1 .icon i{
    padding: 1vh 0;

}

.downloads .downloadsbox h1 .span2{
    color: rgb(168, 168, 168);
}
.downloads .downloadsbox h2{
    display: flex;
    padding: 0 5vh;
    font-weight: 300;
    font-size: 25px;
}
.downloads .downloadsbox .windows{
    margin-bottom: 15px;
    padding: 2vh 3vh;
}
.downloads .downloadsbox .macos{
    padding: 2vh 3vh;
    margin-bottom: 15px;
}
.downloads .downloadsbox .linux{
    padding: 2vh 3vh;
    margin-bottom: 15px;
}
.downloads .downloadsbox li{
    list-style-type: none;
    padding: 0.8vh 2vh;
}

.downloads .downloadsbox li a{
    font-weight: 100;
    font-size: 19px;
    color: grey;
}
/*DOWNLOADS*\
/*--------------------------------------*/



.downloads .setupbox{
    color: white;
    background-color: rgba(75, 75, 75, 0.349);
    border-radius: 12px;
    padding: 5vh 1vh;
    margin: auto;
    width: 38%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: left;
}
.downloads .setupbox h1{
    font-weight: 100;
    text-align: left;
    padding: 6.8vh 5vh;
    font-size: 35px;
}
.downloads .setupbox h1 span{
    font-weight: 700;
}
.downloads .setupbox h1 .span2{
    color: rgb(168, 168, 168);
}
.downloads .setupbox h2{
    padding: 0 5vh;
    font-weight: 300;
    font-size: 25px;
}
.downloads .setupbox .windows{
    margin-bottom: 15px;
    padding: 2vh 3vh;
    font-weight: 100;
    font-size: 17px;
}
.downloads .setupbox .macos{
    padding: 2vh 3vh;
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 17px;
}
.downloads .setupbox .linux{
    padding: 2vh 3vh;
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 17px;
}
.downloads .setupbox li{
    list-style-type: none;
    padding: 0.8vh 2vh;
    font-weight: 100;
    font-size: 17px;
}

.downloads .setupbox li a{
    font-weight: 100;
    font-size: 19px;
    color: grey;
    font-weight: 100;
    font-size: 17px;
}






/*FOOTER*/
.footer .bottomfooter{
    margin: auto;
    align-items: center;
    text-align: center;
    background-color:   rgba(75, 75, 75, 0.514);
    padding: 0.5rem;
    border-radius: 12px;

    width: 95%;    
}
.footer .bottomfooter .list li{
    list-style-type: none;
}
.footer .bottomfooter .list a{
    text-decoration: none;
    font-weight: 100;
    font-size: 13.5px;
    margin: 8px;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
}
.footer .bottomfooter{
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer .bottomfooter .list li{
    margin: 5px;
}
.footer .bottomfooter .list{
    color: aliceblue;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}








/*---------------------------------------*/
/*ANIMATIONS*/

/*NAVBAR*/
.headersection .navbar a{
    transition: all 0.4s cubic-bezier(0.2, 0, 0, 1.4);
}
.headersection{
    cursor: default;
}
.headersection .navbar a:hover{
    cursor:pointer;
    font-weight: 400;
    font-size: 15.5px;
}
.headersection .navbar a:active{
    font-size: 16.8px;
    font-weight: 700;
    color: rgb(168, 168, 168);
}
.headersection a:hover{
cursor: default;
}
/*NAVBAR*/

/*signin*/
.signin .signin-box input{
    transition: all 0.25s cubic-bezier(0.2, 0, 0, 1.4);
}
.signin .signin-box input:hover{
    background-color: rgb(56, 56, 56);
}
.signin .signin-box input:active{
    font-size: 13.8px;
}

.signin .signin-box button{
    transition: all 0.4s cubic-bezier(0.2, 0, 0, 1.4);
}
.signin .signin-box button:hover{
    cursor: pointer;
    font-weight: 100;
    background-color: rgb(78, 78, 78);
}
.signin .signin-box button:active{
    font-size: 17px;
    font-weight: 700;
}
.signin .signin-box p a{
    transition: all 0.4s cubic-bezier(0.2, 0, 0, 1.4);
}
.signin .signin-box p a:hover{
    font-size: 15.8px;
}
.signin .signin-box p a:active{
    font-size: 16.35px;
}

.signin .signin-box h1:hover{
    cursor: default;
}

.signin .signin-box p:hover{
    cursor: default;
}
.signin .signin-box p span:hover{
    cursor: pointer;
}

/*FOOTER*/
.footer .bottomfooter .list li span{
    cursor: default;
}
.footer .bottomfooter .list li a{
    transition: all 0.4s cubic-bezier(0.2, 0, 0, 1.4)
}
.footer .bottomfooter .list li a:hover{
    cursor:pointer;
    font-weight: 400;
    font-size: 13.96px;
}
.footer .bottomfooter .list li a:active{
    font-size: 14.5px;
    font-weight: 700;
    color: rgb(168, 168, 168);
}

.conversion main  h1, p:hover{
    cursor: default;
}
/*FOOTER*/

/*ANIMATIONS*/
/*---------------------------------------*/

