@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

/*---------------------------------------*/
/*ROOT*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zalando Sans Expanded", sans-serif;
}
/*ROOT*/

/*BODY*/
body{

    background-color: rgb(20, 20, 20);
}
/*BODY*/
/*---------------------------------------*/




/*---------------------------------------*/
/*NAVBAR HEADER*/
.headersection{
    color: rgb(21, 21, 22);
    margin: 20px auto;
    text-align: center;
    align-items: center;
    background-color:   rgba(75, 75, 75, 0.514);
    padding: clamp(1vh, 1vh, 2vh);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    width: 95%;
}
/*NAVBAR HEADER*/

/*NAVBAR LOGO*/
.headersection a{
    font-weight: 800;
    font-size: clamp(13px, 1.6vw, 23px);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.headersection a span{
   color: rgb(168, 168, 168);
}
/*NAVBAR LOGO*/

/*NAVBAR TEXT*/
.headersection .navbar a{
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    font-weight: 100;
    font-size: clamp(10.5px, 1.2vw, 17px);
    border-radius: 14px;
    margin: clamp(5px, 1vh, 15px);   
}
/*NAVBAR TEXT*/
/*---------------------------------------*/



/*SIGN-IN*\
/*--------------------------------------*/
.signin{
    padding: 10vh;
    width: 50%;
    margin: auto;
    color: white;
}
.signin .signin-box{
    display: flex;
    justify-content: center;
    padding: 15vh 70px;
    flex-direction: column;
    background-color: rgba(75, 75, 75, 0.349);
    border-radius: 12px;
}
.signin .signin-box h1{
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 25px;
}
.signin .signin-box h1 span{
    font-weight: 700;
}
.signin .signin-box h1 span span{
    color: rgb(168, 168, 168);
}

.signin label{
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    padding-top: 4vh;
    padding-bottom: 8px;
}

.signin .signin-box input{
    outline: none;
    border: none;
    text-align: center;
    color: white;
    background-color: rgb(66, 66, 66);
    border-radius: 8px;
    padding: 0.5vh 0;
    width: 56%;
    font-style: italic;
}

.signin .signin-box input placeholder{
    color: white;
}

.signin .signin-box button{
    outline: none;
    border: none;
    font-size: 16px;
    margin-top: 80px;
    align-items: center;
    width: 25%;
    padding: 0.7vh 0;
    border-radius: 8px;
    background-color: grey;
    color: white;
    font-weight: 600;
    font-size: 16px;

}
.signin .signin-box p{
    font-size: 15px;
    font-weight: 100;
    padding-top: 30px;
}

.signin .signin-box p a{
    color: grey;
    font-size: 15.5px;
    font-weight: 600;
}


/*FOOTER*/
.footer .bottomfooter{
    margin: auto;
    align-items: center;
    text-align: center;
    background-color:   rgba(75, 75, 75, 0.514);
    padding: 0.5rem;
    border-radius: 12px;

    width: 95%;    
}
.footer .bottomfooter .list li{
    list-style-type: none;
}
.footer .bottomfooter .list a{
    text-decoration: none;
    font-weight: 100;
    font-size: 13.5px;
    margin: 8px;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
}
.footer .bottomfooter{
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer .bottomfooter .list li{
    margin: 5px;
}
.footer .bottomfooter .list{
    color: aliceblue;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}








/*---------------------------------------*/
/*ANIMATIONS*/

/*NAVBAR*/
.headersection .navbar a{
    transition: all 0.4s cubic-bezier(0.2, 0, 0, 1.4);
}
.headersection{
    cursor: default;
}
.headersection .navbar a:hover{
    cursor:pointer;
    font-weight: 400;
    font-size: 15.5px;
}
.headersection .navbar a:active{
    font-size: 16.8px;
    font-weight: 700;
    color: rgb(168, 168, 168);
}
.headersection a:hover{
cursor: default;
}
/*NAVBAR*/

/*signin*/
.signin .signin-box input{
    transition: all 0.25s cubic-bezier(0.2, 0, 0, 1.4);
}
.signin .signin-box input:hover{
    background-color: rgb(56, 56, 56);
}
.signin .signin-box input:active{
    font-size: 13.8px;
}

.signin .signin-box button{
    transition: all 0.4s cubic-bezier(0.2, 0, 0, 1.4);
}
.signin .signin-box button:hover{
    cursor: pointer;
    font-weight: 100;
    background-color: rgb(78, 78, 78);
}
.signin .signin-box button:active{
    font-size: 17px;
    font-weight: 700;
}
.signin .signin-box p a{
    transition: all 0.4s cubic-bezier(0.2, 0, 0, 1.4);
}
.signin .signin-box p a:hover{
    font-size: 15.8px;
}
.signin .signin-box p a:active{
    font-size: 16.35px;
}

.signin .signin-box h1:hover{
    cursor: default;
}

.signin .signin-box p:hover{
    cursor: default;
}
.signin .signin-box p span:hover{
    cursor: pointer;
}

/*FOOTER*/
.footer .bottomfooter .list li span{
    cursor: default;
}
.footer .bottomfooter .list li a{
    transition: all 0.4s cubic-bezier(0.2, 0, 0, 1.4)
}
.footer .bottomfooter .list li a:hover{
    cursor:pointer;
    font-weight: 400;
    font-size: 13.96px;
}
.footer .bottomfooter .list li a:active{
    font-size: 14.5px;
    font-weight: 700;
    color: rgb(168, 168, 168);
}

.conversion main  h1, p:hover{
    cursor: default;
}
/*FOOTER*/

/*ANIMATIONS*/
/*---------------------------------------*/